<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poseidon.dao.BoardDAO">
	<select id="boardList" resultType="boardDTO">
		SELECT commentcount, board_no, board_title, board_date, board_like, user_no, user_name
		FROM viewboard
		LIMIT 0, 10
	</select>
	
	<select id="detail" parameterType="boardDTO" resultType="boardDTO">
		SELECT (SELECT count(*) from comment c WHERE b.board_no=c.board_no) as commentcount, 
			b.*, u.user_id, u.user_name
		FROM board b JOIN user u ON b.user_no=u.user_no
		WHERE b.board_no=#{board_no}
	</select>
	
	<insert id="commentAJAX" parameterType="Map">
		INSERT INTO comment (board_no, c_comment, user_no) 
		VALUES (#{board_no}, #{comment}, (SELECT user_no FROM user WHERE user_id=#{user_id}))
		<selectKey resultType="Integer" keyProperty="c_no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="commentDetailAjax" parameterType="Map" resultType="Map">
		SELECT *
		FROM viewcomment
		WHERE c_no = #{c_no}
	</select>
	
	
</mapper>