<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>


<th:block th:insert="~{menu.html :: head}"></th:block>

</head>
<body>
	<th:block th:insert="~{menu.html :: menu}"></th:block>
	<section>
		<div class="container px-5">
			<h1 class="my-3">board</h1>
			<table class="table table-hover">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<th>날짜</th>
					<th>좋아요</th>
				</tr>
				<tr th:each="dto : ${list }">
					<td th:text="${dto.board_no }">번호</td>
					<td th:onclick="|location.href='@{|/detail/${dto.board_no }|}'|"
						th:utext="${dto.board_title }"></td>
					<td th:text="${dto.user_name }"></td>
					
					<td th:if="${#dates.format(#calendars.createNow(), 'yyyy-MM-dd') eq #temporals.format(dto.board_date, 'yyyy-MM-dd')}" th:text="${#temporals.format(dto.board_date, 'HH:mm')}"></td>
					<td th:unless="${#dates.format(#calendars.createNow(), 'yyyy-MM-dd') eq #temporals.format(dto.board_date, 'yyyy-MM-dd')}" th:text="${#temporals.format(dto.board_date, 'yyyy-MM-dd')}"></td>
					
					<td th:text="${dto.board_like }"></td>
				</tr>
			</table>
		</div>
	</section>

	<th:block th:insert="~{menu.html :: footer}"></th:block>
</body>
</html>