<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메뉴입니다- 2025-03-17 : 웹 시스템 구축</title>
<th:block th:insert="~{menu.html :: head}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
</head>
<body>
	<th:block th:insert="~{menu.html :: menu}"></th:block>
	<section id="features">
		<div class="container px-5">
			<h1>board</h1>
			<table class="table">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<th>날짜</th>
					<th>좋아요</th>
				</tr>
				<tr th:each="dto : ${list }">
					<td th:text="${dto.board_no }">번호</td>
					<td th:onclick="|location.href='@{|/detail/${dto.board_no }|}'|"
						th:utext="${dto.board_title }"></td>
					<td th:text="${dto.user_name }"></td>
					<td th:text="${dto.board_date }"></td>
					<td th:text="${dto.board_like }"></td>
				</tr>
			</table>
		</div>
	</section>

	<th:block th:insert="~{menu.html :: footer}"></th:block>
</body>
</html>