<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{menu.html :: head}"></th:block>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript">
function comment(){
	let comment = document.querySelector('#comment');
	if(comment.value == "" || comment.value.length < 5){
		alert('댓글은 다섯글자 이상 작성해주세요.');
	} else {
		if(confirm('등록하시겠습니까?')){
			let form = document.createElement("form");
			form.setAttribute("action", "/comment");
			form.setAttribute("method", "post");
			
			let data = document.createElement('input');
			data.setAttribute("type", "hidden");
			data.setAttribute("name", "comment");
			data.setAttribute("value", comment.value);
			
			let bno = document.createElement('input');
			bno.setAttribute("type", "hidden");
			bno.setAttribute("name", "board_no");
			bno.setAttribute("value", '[[${detail.board_no}]]');
			
			form.appendChild(data);
			form.appendChild(bno);
			document.body.appendChild(form);
			form.submit();
		}
	}
	//alert(comment.value === '' || comment == '');
}

//jQuery 2025-03-20 웹 시스템 구축 (ajax 기초)
$(function(){
	// 숨기기 .hide() <-> .show()
	$("#commentInsertForm").hide();
	// 보이기
	$("#comment-insert-btn").click(function(){
		//$("#commentInsertForm").show();
		//$("#commentInsertForm").slideToggle('slow');
		$("#commentInsertForm").show("slide", {direction:'left'}, 1000);
	});
	
});
</script>
</head>
<body>
	<!-- 메뉴넣기 -->
	<th:block th:insert="~{menu.html :: menu}"></th:block>
	<section>
		<div class="container px-5">
			<h1>톺아보기</h1>
			<div class="">
				<div class="row mt-4">				
					<div class="col fs-2 border-bottom border-2">
						<div class="badge text-bg-primary" th:text="${detail.board_like }">좋아요</div>
						[[${detail.board_title }]]
					</div>
				</div>
				<div class="row border-bottom border-1" style="background-color: #c0c0c0;">				
					<div class="col text-left" th:text="|${detail.user_name }님이 씀|">글쓴이</div>
					<div class="col text-right">
						<!-- 타임리프 함수입니다 temporals.format(값, '출력형식')-->
					 	[[${#temporals.format(detail.board_date, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}]]
					</div>
				</div>
				<div class="row mb-3" style="min-height: 50vh;">
					<div class="col" th:utext="${detail.board_content }">내용</div>
				</div>
				
			</div>
			되돌아가기 버튼
			<button th:onclick="|location.href='@{/board}'|">게시판으로</button>
			<button onclick="history.back()">게시판으로2</button>
			<button id="comment-insert-btn">댓글쓰기</button>
			<!-- 댓글창 -->
			<div id="commentInsertForm" class="my-2 shadow">
				<div class="input-group">
					<textarea id="comment" class="form-control" aria="btn btn-primary"></textarea>
					<button th:if="${session.user_id ne null}" onclick="comment()" class="btn btn-primary input-group-append">댓글쓰기</button>
					<button th:unless="${session.user_id ne null}" onclick="location.href='/login'" class="btn btn-primary input-group-append">로그인해주세요</button>
				</div>
			</div>
			
			<!-- 로그인 여부 -->
			<!-- [[${session.user_name ne null}]] / [[${session.user_id ne null}]] --> 
			
			<!-- 댓글 내용 출력하기 ________  댓글의 수 : -->
			<div class="my-2">
				[[${#lists.size(commentList) }]]개의 글이 있습니다.
			</div>
			<div th:if="${#lists.size(commentList) > 0}" class="m-2"> <!-- 댓글리스트 -->
				<div th:each="comment : ${commentList }" class="my-2 shadow">
					<div class="row py-1 rounded" style="background-color: #c0c0c0;">
						<div class="col-6" th:text="|${comment.user_name }님|">글쓴이</div>
						<div class="col-3"><i class="bi bi-alarm-fill"></i> [[${comment.c_date }]]</div>
						<div class="col-3" ><i class="bi bi-hand-thumbs-up-fill"></i> [[${comment.c_like }]]</div>
					</div>
					<div class="row">
						<div class="col p-3" th:utext="${comment.c_comment }" style="min-height: 50px;"></div>
					</div>
				</div>
			</div>
			<div th:unless="${#lists.size(commentList) > 0}">댓글이 없습니다.</div>
			
			
		</div>
	</section>


	<th:block th:insert="~{menu.html :: footer}"></th:block>
</body>
</html>