<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>detail</title>
</head>
<body>
	<!-- 메뉴넣기 -->
	<th:block th:insert="~{menu.html}"></th:block>
	
	
	<h1>톺아보기</h1>
	<div>
		<div th:text="${detail.board_title }">제목</div>
		<div th:text="${detail.user_name }">글쓴이</div>
		<div th:text="${detail.board_date }">쓴날짜</div>
		<div th:text="${detail.board_content }">내용</div>
		<div th:text="${detail.board_like }">좋아요</div>
	</div>
	
	
	되돌아가기 버튼
	<button th:onclick="|location.href='@{/board}'|">게시판으로</button>
	<button onclick="history.back()">게시판으로2</button>
</body>
</html>