<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메뉴입니다</title>
<th:block th:fragment="head">
	  <meta charset="utf-8" />
      <meta name="viewport"
         content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="description" content="사이트 정보" />
      <meta name="author" content="관리이름" />

      <meta name="keyword" content="java">
      <title>타이틀</title>
      <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
      <!-- 메뉴 스타일시트 -->
      <link rel="stylesheet" href="/css/menu.css">
</th:block>
<script type="text/javascript">
function logout(){if(confirm("정말로 로그아웃 하시겠습니까?")){location.replace("/logout");}}
</script>

</head>
<body>
<!-- 여기에 메뉴를 만듭니다 -->

<nav th:fragment="menu">
	<ul>
		<li><a href="/"><img alt="홈" src="/img/home.png"></a></li>
		<li><a href="/board">보드</a></li>
		<li><a href="/notice">공지사항</a></li>
		<li><a href="/join">회원가입</a></li>
		<li th:if="${session.user_id eq null}"><a href="/login">로그인</a></li>
		<li th:unless="${session.user_id eq null}"><a href="#" onclick="logout()">[[${session.user_name}]]로그아웃</a></li>
	</ul>
</nav>

<footer th:fragment="footer">
	<div>footer</div>
</footer>

</body>
</html>