<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poseidon.dao.BoardDAO">

	<select id="count" resultType="Integer">
		SELECT count(*) FROM board WHERE board_del=1
	</select>

	<select id="boardList" resultType="BoardDTO">
		SELECT * FROM board WHERE board_del=1 ORDER BY board_no DESC LIMIT 10
	</select>

</mapper>