<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poseidon.dao.LoginDAO">

	<select id="login" parameterType="HashMap" resultType="LoginDTO">
		 SELECT 
		 	user_no as uno,
		 	user_id as id, 
		 	user_pw as pw, 
		 	user_name as name, 
		 	user_role as role,
		 	user_email as email
		 FROM user 
		 WHERE user_id=#{id}
	</select>
	
	<insert id="join" parameterType="JoinDTO">
		INSERT INTO user (user_id, user_pw, user_name, user_email, user_role)
		VALUES(#{id }, #{pw }, #{name }, #{email }, #{role})
	</insert>


	<select id="checkId" parameterType="String" resultType="Integer">
		SELECT count(*) FROM user WHERE user_id=#{id }
	
	</select>
	
</mapper>