@charset "UTF-8";
body {margin: 0;padding: 0;}
table {margin: 0 auto; width: 900px; border-collapse: collapse;}
th {background-color: green;}
tr, td {height: 30px; text-align: center;}
tr {border-bottom: 1px solid gray;}
tr:hover {background-color: gray;}
.tr1 {width: 10%;}
.tr2 {width: 20%;}
.tr3 {width: 50%;}
.title {text-align: left; overflow: hidden;}
.paging {margin: 0 auto;width: 900px;height: 30px;text-align: center;}