<!DOCTYPE html>
<!-- Thymeleaf 선언 / header-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
	<!-- <h1>Header 영역</h1> -->
	<nav class="navbar navbar-expand-sm fixed-top bg-light">
		<div class="container">
			<a class="navbar-brand" href="/index">i</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fas fa-bars ms-1"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" href="/main">main</a></li>
					<li class="nav-item"><a class="nav-link" href="/board">board</a></li>
					<li class="nav-item"><a class="nav-link" href="/notice">notice</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<a class="nav-link" href="/info">
							[[${#authentication.principal.username}]]님 
						</a>
					</li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
</html>