<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/defaultLayout}"
    layout:fragment="content">
<head>
<title layout:fragment="title">Aajx Board</title>
<script type="text/javascript">
$(document).ready(function(){
	let num = 1;
	ajaxBoard(num);
});

function ajaxBoard(num){
	$.ajax({
		url : "/ajaxBoard",
		type : "POST",
		dataType : "json",
		data : {pageNo : num},      // http://localhost/ajaxBoard?pageNo=1
		cache : false,
		success: function(response){
			//$("#ajax-board").text(response); //[object Object] 객체다 
			//$("#ajax-board").text(JSON.stringify(response)); // json 내부 데이터 다 보기
			const pageNo = response.pageNo;
			const totalCount = response.totalCount;
			//console.log(pageNo);
			//console.log(totalCount);
			
			const list = response.list;
			let temp = "<table class='table table-hover'>";
			temp += "<tr>";
			temp += "<th>번호</th>";
			temp += "<th>제목</th>";
			temp += "<th>글쓴이</th>";
			temp += "<th>쓴날짜</th>";
			temp += "<th>좋아요</th>";
			temp += "</tr>";
			
			/* 다른 것도 보여드리기 위해 주석
			for(let i = 0; i < list.length; i++){
				temp += "<tr>"
				temp += "<td>" + list[i].board_no + "</td>";
				temp += "<td>" + list[i].board_title + "</td>";
				temp += "<td>" + list[i].user_no + "</td>";
				temp += "<td>" + list[i].board_date + "</td>";
				temp += "<td>" + list[i].board_like + "</td>";
				temp += "</tr>";
			}*/
			
			$.each(list, function(index){
				temp += "<tr><td class='board_no text-center'>" + list[index].board_no + "</td>";
				temp += "<td class='title'>" + list[index].board_title + "</td>";
				temp += "<td class='text-center'>" + list[index].user_no + "</td>";
				temp += "<td class='text-center'>" + list[index].board_date + "</td>";
				temp += "<td class='text-center'>" + list[index].board_like + "</td></tr>";
			});
			temp += "</table>";			
			$("#ajax-board").html(temp);
			paging(totalCount, pageNo);
		},
		error : function(xhr, status, error){
			$("#ajax-board").empty();
			//문제가 발생했다면 == 통신문제, 백앤드 문제 등등등
			// $("#ajax-board").text("<h1>문제가 발생했습니다.</h1>"); // $("#ajax-board").html("<h1>문제가 발생했습니다.</h1>");
			$("#ajax-board").append("<h1>문제가 발생했습니다.</h1>");
			/* 
			.html()   : html 코드를 붙임       : 기존 내용 삭제
			.text()   : 텍스트 내용을 붙임     : 기존 내용 삭제
			.append() : 내용 끝에다가 추가하기 : 기존내용 뒤에 붙이기(html tag 지원)
			.prepend(): 앞에다가 추가하기
			.empty()  : 내용 삭제하기
			*/
		}
	});
}
function paging(totalCount, pageNo){
	$(".paging").empty();
	//페이징하기
	let pages = totalCount / 10;
	if(totalCount % 10 != 0){pages += 1;}
	startPage = pageNo;
	endPage = startPage + 10 < pages ? startPage + 9 : pages;

	//   << < 1 2 3 4 5 6 7 8 10 > >>
	if(pageNo - 10 > 0){
		$(".paging").append("<button class='start'>◀◀</button>");
	}else{
		$(".paging").append("<button disabled='disabled'>◀◀</button>");
	}
	if(pageNo - 1 > 0){
		$(".paging").append("<button class='backward'>◀</button>");
	}else{
		$(".paging").append("<button disabled='disabled'>◀</button>");
	}
	for (let i=startPage; i <= endPage; i++) {
		$(".paging").append("<button type='button' class='page'>" + i + "</button>");
	}
	if(pageNo + 1 < pages){
		$(".paging").append("<button class='forward'>▶</button>");
	}else{
		$(".paging").append("<button disabled='disabled'>▶</button>");
	}
	if(pageNo + 10 < pages){
		$(".paging").append("<button class='end'>▶▶</button>");
	}else{
		$(".paging").append("<button disabled='disabled'>▶▶</button>");
	}
}

//동적으로 생성된 버튼 클릭하기
$(document).on("click", ".page", function() {
	pageNo = $(this).text();
	ajaxBoard(pageNo);
});
$(document).on("click", ".start", function(){
	pageNo = pageNo - 10;
	ajaxBoard(pageNo);
});
$(document).on("click", ".backward", function(){
	pageNo = pageNo - 1;
	ajaxBoard(pageNo);
});
$(document).on("click", ".forward", function(){
	pageNo = pageNo + 1;
	ajaxBoard(pageNo);
});
$(document).on("click", ".end", function(){
	pageNo = pageNo + 10;
	ajaxBoard(pageNo);
});

//상세보기 만들기 -> 다음에 모달로 만들기
$(document).on("click", ".title", function(){
	//형제요소 찾기 board_no 
	//이전 요소 prev()
	let board_no = $(this).prev().text();
	alert(board_no + " / " + $(this).text());
});
</script>
<style type="text/css">

</style>
</head>
<body>
	<h1>board</h1>
	
	<div id="ajax-board">
		안녕하세요.
	</div>
	<div class="paging text-center">
	</div>
</body>
</html>