<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ajax board</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script type="text/javascript">
$(document).ready(function(){
	// alert("!");
	let num = 1;
	ajaxBoard(num);
});

function ajaxBoard(num){
	//alert("ajaxBoard()가 호출되었습니다.");
	$.ajax({
		url : "/ajaxBoard",
		type : "POST",
		dataType : "json",
		data : {pageNo : num},      // http://localhost/ajaxBoard?pageNo=1
		cache : false,
		success: function(response){
			//$("#ajax-board").text(response); //[object Object] 객체다 
			//$("#ajax-board").text(JSON.stringify(response)); // json 내부 데이터 다 보기
			const pageNo = response.pageNo;
			const totalCount = response.totalCount;
			console.log(pageNo);
			console.log(totalCount);
			
			const list = response.list;
			let temp = "<table>";
			temp += "<tr>";
			temp += "<td>번호</td>";
			temp += "<td>제목</td>";
			temp += "<td>글쓴이</td>";
			temp += "<td>쓴날짜</td>";
			temp += "<td>좋아요</td>";
			temp += "</tr>";
			
			/* 다른 것도 보여드리기 위해 주석
			for(let i = 0; i < list.length; i++){
				temp += "<tr>"
				temp += "<td>" + list[i].board_no + "</td>";
				temp += "<td>" + list[i].board_title + "</td>";
				temp += "<td>" + list[i].user_no + "</td>";
				temp += "<td>" + list[i].board_date + "</td>";
				temp += "<td>" + list[i].board_like + "</td>";
				temp += "</tr>";
			}*/
			
			$.each(list, function(index){
				temp += "<tr><td>" + list[index].board_no + "</td>";
				temp += "<td>" + list[index].board_title + "</td>";
				temp += "<td>" + list[index].user_no + "</td>";
				temp += "<td>" + list[index].board_date + "</td>";
				temp += "<td>" + list[index].board_like + "</td></tr>";
			});
			
			temp += "</table>";
			
			$("#ajax-board").html(temp);
		},
		error : function(xhr, status, error){
			$("#ajax-board").empty();
			//문제가 발생했다면 == 통신문제, 백앤드 문제 등등등
			// $("#ajax-board").text("<h1>문제가 발생했습니다.</h1>");
			// $("#ajax-board").html("<h1>문제가 발생했습니다.</h1>");
			$("#ajax-board").append("<h1>문제가 발생했습니다.</h1>");
			/* 
			.html()   : html 코드를 붙임       : 기존 내용 삭제
			.text()   : 텍스트 내용을 붙임     : 기존 내용 삭제
			.append() : 내용 끝에다가 추가하기 : 기존내용 뒤에 붙이기(html tag 지원)
			.prepend(): 앞에다가 추가하기
			.empty()  : 내용 삭제하기
			*/
		}
	});
}
</script>
</head>
<body>
	<h1>board</h1>
	
	<div id="ajax-board">
		안녕하세요.
	</div>
</body>
</html>