<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/defaultLayout}" layout:fragment="content">
<head>
<title layout:fragment="title">board</title>
<style th:inline="css" type="text/css"></style>
<script th:inline="javascript" type="text/javascript"></script>
<style type="text/css">
	.td1{
		width: 10%;
	}
	.td2{
		width: 20%;
	}
	.td1, .td2, th{
		text-align: center;
	}
</style>
</head>
<body>
	<h1>게시판</h1>
	<!-- table -->
	<div class="container">
		<!-- 출력할 데이터가 있을 때 -->
		<div th:if="${#lists.size(list) gt 0}" style="height: 500px;">
			<table class="table table-hover">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>날짜</th>
				<th>글쓴사람</th>
				<th>읽음수</th>
			</tr>
			<tr th:each="row : ${list}">
				<td class="td1">[[${row.board_no}]]</td>
				<td class="w-50" th:text="${row.board_title}"></td>
				<td class="td1">
					<!-- 오늘 글은 시:분 -->
					<span th:if="${#temporals.format(row.board_date, 'yyyy-MM-dd') eq #dates.format(#calendars.createNow(), 'yyyy-MM-dd')}">
						[[${#temporals.format(row.board_date, 'HH:mm')}]]
					</span>
					<!-- 지난 글은 년-월-일 -->
					<span th:unless="${#temporals.format(row.board_date, 'yyyy-MM-dd') eq #dates.format(#calendars.createNow(), 'yyyy-MM-dd')}">
						[[${#temporals.format(row.board_date, 'MM-dd')}]]
					</span>
				</td>
				<td class="td2" th:text="${row.name}"></td>
				<td class="td1" th:text="${row.board_read}"></td>
			</tr>
		</table>
		</div>
		<!-- 출력할 데이터가 없을 때 -->
		<div th:unless="${#lists.size(list) gt 0}" style="height: 500px;">
			<h2>출력할 데이터가 없습니다.</h2>
		</div>
		<!-- 페이징 -->
	<!-- list.totalPages : [[${list.totalPages}]] / pageNo : [[${pageNo}]] / 
	이전으로 :[[${list.hasPrevious}]] / 다음으로 : [[${list.hasNext}]] /
	한페이지에 보여지는 글 수 size : [[${list.size}]] /
	eq ==, ge >=, le <=, lt <, gt >, ne != / number : [[${list.number}]]
	ul에 추가 : 시작번호 start/ 끝번호 end -->
	
		<div class="paging" th:if="${!list.isEmpty()}">
			<ul class="pagination justify-content-center"
			th:with="start=${(list.number/10) * 10 + 1},
			 end=${start + 9 lt list.totalPages ? start + 9 : list.totalPages}"
			>
				<li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{|?pageNo=1|}"><<</a>
				</li>
				<li class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{|?pageNo=${pageNo-1}|}">이전</a>
				</li>
				
				<li th:each="page : ${#numbers.sequence(start, end)}" class="page-item"
					th:classappend="${page == pageNo} ? 'active'">
					<a class="page-link" th:href="@{|?pageNo=${page}|}">[[${page}]]</a>
				</li>
				
				<li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{|?pageNo=${pageNo+1}|}">다음</a>
				</li>
				<li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{|?pageNo=${list.totalPages}|}">>></a>
				</li>
			</ul>
		</div>
	
		<!-- sec사용하기 -->
		<div sec:authorize="!isAuthenticated()">
			<button onclick="location.href='/login'">로그인</button>
		</div>
		<div sec:authorize="isAuthenticated()">
			<button onclick="location.href='/logout'">로그아웃</button>
			<button onclick="location.href='/write'">글쓰기</button>
		</div>
	</div>
</body>
</html>