<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/defaultLayout}" layout:fragment="content">
<head>
<title layout:fragment="title">상세보기</title>
<style th:inline="css" type="text/css"></style>
<script th:inline="javascript" type="text/javascript"></script>
<style type="text/css">
		.bcontent {min-height: 300px; height: auto; width:100%;}
		.bcontent > p {width: 100% !important;}
		.bcontent > p > img {width: 100% !important;}
		.vertical {color: #c0c0c0;margin: 0px 10px;}
	</style>
</head>
<body>
	<div class="container m-3 p-3">
		<h1>톺아보기</h1>
		<div class="m-3 p-3 shadow">
			<div class="row fs-2">
				<div class="col-auto">[[${detail.board_title }]]</div>
			</div>
			<div class="row px-3 py-1">
				<div class="col-12 col-md-auto">
					<i class="fa-regular fa-eye me-2"></i>[[${detail.board_read }]]<span class="vertical">|</span>
					<i class="fa-regular fa-clock me-2"></i>[[${detail.board_date }]]
				</div>
			</div>
			<div class="row px-3 py-1 mb-3 bg-light">
				<div class="col-12 col-md-auto">
					<button class="btn btn-outline-primary btn-sm" id="updateBtn"><i class="fa-regular fa-pen-to-square"></i>수정</button>
					<button class="btn btn-outline-danger btn-sm" id="deleteBtn"><i class="fa-regular fa-trash-can"></i>삭제</button>
					<i class="fa-regular fa-user me-2"></i>[[${detail.name }]]님
				</div>
				<div class="col-12 col-md text-md-end"></div>
			</div>
			<div class="bcontent row">
				[[${detail.board_content }]]
			</div>
		</div>
		<button th:onclick="|location.href='@{/board(pageNo=${pageNo})}'|">게시판으로</button>
		</div>
		[[${detail.commentCount}]]개의 댓글이 있습니다.
	</div>
</body>
</html>