<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/defaultLayout}"
      layout:fragment="content"
>
	<head>
	    <title layout:fragment="title">인덱스</title>
	    <style th:inline="css" type="text/css"></style>
	    <script th:inline="javascript" type="text/javascript">
	    $(function(){
        	$('#btn').text('index');
        });
	    </script>
	</head>
	<body>
		<div class="container">
			<h1 sec:authorize="isAuthenticated()">로그인시 보임</h1>
			<button id="btn" class="btn btn-info">info</button>
			<button class="btn btn-success" onclick="location.href='/main'">main</button>
			
			<h1>[[${ip}]]</h1>
			<div sec:authorize="isAuthenticated()">
				사용자 닉네임: <span th:text="${#authentication.principal.username}"></span>
				<br>
				사용자 아이디: <span th:text="${#authentication.principal.ID}"></span>
				오늘 할 것 : 댓글 // 모달 // ajax 글 삭제, 글 아래 수정나타나게 하기
				제가 할 것 : H2변경 / AOP / 
			</div>
		</div>
	</body>
</html>


<!-- 

 localhost/index
        ↓
  indexController/index
        ↓
  index.html 호출시  - > defaultLayout.html - > config.html
												header.html
												footer.html





 index호출시 header, footer 파일을 불러옴





 -->
