<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/defaultLayout}"
    layout:fragment="content">
	<head>
<title layout:fragment="title">회원가입</title>
<script type="text/javascript">
	$(document).ready(function(){
		//아이디 검사를 먼저 진행하게 플래그 false로 만들기
		let isIdAvailable = false;
		const $idCheckMessage = $("#idcheckMessage"); //변수에 $를 붙여서 객체라는 것을 표시해주기 위함.
		
		//submit을 눌렀을때 동작할 함수
		$("form").submit(function(event){
			if(!isIdAvailable){
				alert("아이디 중복 검사를 완료해주세요.");
				$idCheckMessage.text("아이디 중복 검사를 완료해주세요.");
				$("#id").focus();
				event.preventDefault();
			} else {
				alert("회원가입을 진행합니다.");
			}
			//암호 검사
			
			//메일 검사
			
			
			
		});
		//alert("!");
		//아이디 검사를 클릭했을 때 동작할 함수
		$("#idCheck").click(function(){
			//alert("!");
			// 아이디 입력칸에 있는 값을 가져와서 서버로 보내기
			const enteredId = $("#id").val();
			if(enteredId.trim() === "" || enteredId.length < 4){
				// ==  같은 값이야?      
				// === 같은 값이야? + 타입도 같아?
				$idCheckMessage.text("올바른 아이디를 입력해주세요.");
				$idCheckMessage.css("color", "red");
				//막기
				isIdAvailable = false;
				return;
				
			} else {
				$idCheckMessage.text("아이디가 4글자 이상 입력되었습니다.");
			}
			
			//아이디가 4글자 이상입니다.
			// 검사 중 메시지 표시
        	$idCheckMessage.text("중복 검사 중...");
        	$idCheckMessage.css("color", "gray");

        	//AJAX
        	$.ajax({
        		//서버 정보 적기
        		url : "/checkId",
        		type : "POST",
        		data : { id : enteredId},
        		dataType : "json",
        		success : function(response){
        			//alert("통신 성공 : " + response.available);
        			if(response.available){
        				$idCheckMessage.text("사용 가능한 아이디입니다.");
        				$idCheckMessage.css("color", "green");
        				isIdAvailable = true; //플래그
        				$("#submit").prop("disabled",false);
        			} else {
        				$idCheckMessage.text("이미 사용 중인 아이디입니다.");
        				$idCheckMessage.css("color", "red");
        				isIdAvailable = false; //플래그
        				$("#submit").prop("disabled",true);
        			}
        		},
        		error:function(xhr, status, error){
        			alert("문제가 발생했습니다.");
        		}
        		
        	}
        	);// end ajax
			
			return false; // 동작 막기
		});
		
	});
</script>
</head>
<body>
	<div class="m-5 p-5">
		<form action="/join" method="post">
			<div class="row m-3">
				<div class="col-3">아이디</div>
				<div class="col-9">
					<input type="text" id="id" name="id" class="form-control">
					<button type="button" id="idCheck" class="btn btn-info mt-3">아이디 검사</button>
					<div class="form-text" id="idcheckMessage"></div>
				</div>
			</div>
			<div class="row m-3">
				<div class="col-3">name</div>
				<div class="col-9">
					<input type="text" id="name" name="name" class="form-control">
				</div>
			</div>
			<div class="row m-3">
				<div class="col-3">email</div>
				<div class="col-9">
					<input type="email" id="email" name="email" class="form-control">
				</div>
			</div>
			<div class="row m-3">
				<div class="col-3">암호</div>
				<div class="col-9">
					<input type="password" id="pw" name="pw" class="form-control">
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-6">
					<button type="reset" id="reset" class="col btn btn-danger w-100">reset</button>
				</div>
				<div class="col-6">
					<button type="submit" id="submit" class="col btn btn-success w-100">submit</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
