<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/defaultLayout}"
    layout:fragment="content">
	<head>
	    <title layout:fragment="title">main</title>
	    <style th:inline="css" type="text/css"></style>
	</head>
	<body>
		<div class="content">
			<h1>[[${title}]] 영역</h1>
			<div class="vh-50">
				<th:block th:each="row : ${#numbers.sequence(1, 10)}">
				<div class="text-center w-100">[[${row}]]</div>
				</th:block>
			</div>
		</div>
	</body>
</html>
