<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/defaultLayout}"
    layout:fragment="content">
	<head>
<head>
<title layout:fragment="title">글쓰기</title>
</head>
<body>
	<div class="m-5 p-5">
		<h1>글쓰기</h1>
		<!-- dto로 받기(유효성 검사) -> 서비스에서 엔티티로 변경하기 -> jpa에 던지기 -->
		<form class="form-control" action="/write" method="post">
			<input type="text" name="title" placeholder="제목을 입력하세요">
			<textarea class="form-control my-3" name="content"></textarea>
			<button class="btn btn-info" type="submit">글쓰기</button>
		</form>
	</div>
</body>
</html>