<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/defaultLayout}"
    layout:fragment="content">
	<head>
	    <title layout:fragment="title">main</title>
	    <style th:inline="css" type="text/css"></style>
	</head>
	<body>
		<div class="content">
			
			<!-- sec:authorize="isAuthenticated()" 
			로그인 검사, 시큐리티 사용할 수 있어야 쓸 수 있습니다. -->
			
			
		</div>
	</body>
</html>
